<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body bgcolor="grey">
    <form>
        <table align="center">
            <br>
            <tr>
                <td><label for="userId"><b>UserId</b></label></td>
                <td><input type="text" placeholder="Enter UserID" name="userId" id="userId" required></td>

                <td align="right"><input type="submit" value="Check"</td>
            </tr>
        </table>
    </form>
</body>
</html>