<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Welcome to MyBillBook</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body bgcolor="grey">
    
        <legend align="center" ><cite><B><BIG>Login Crendentials</BIG></B></cite></legend>
        <br>

        <form>
            <table align="center">
                <tr>
                                       
                    <td ><label for="userId"><b>UserId</b></label></td>
                    <td><input type="text" placeholder="Enter UserID" name="userId" id="userId" required></td>                        
                </tr>
                <tr>
                    <td><label for="password"><b>Password</b></label></td>
                    <td><input type="password" placeholder="Enter Password" name="password" id="password" required></td>
                </tr>
                
                <tr>
                    <td><input type="submit" value="Login"</td>
                </tr>
                
</body>
</html>